{% extends 'base.html.twig' %}

{% block title %}Categorys{% endblock %}

{% block body %}
    <div class="col-lg-12 contenu-blanc shadow-lg">
        <h1>Categorys</h1>
        <table class="table table-striped table-advance table-hover">
            <thead>
                <tr class="bg-entete">
                    <th class="col-md-1">Id</th>
                    <th>Name</th>
                    <th class="col-md-6">
                        Actions
                        <span class="pull-right">
                            <a href="{{ path('create_category') }}" class="btn btn-primary btn-sm">
                                <i class="fa fa-save"></i>
                                Add a new category
                            </a>
                        </span>
                    </th>
                </tr>
                {% if button is defined %}
                    <button type="submit" class="btn btn-primary">
                        {{ button }}
                    </button>
                {% endif %}
            </thead>
            <div class="container-fluid contenu">
                {% if not categorys.items is same as ([]) %}
                    {# in case there's no data yet #}
                    There is {{ categorys.getTotalItemCount }} category !!
                    <br>
                    <tbody>
                        {% for key, category in categorys %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td class="row">
                                    <!-- formulaire pour demander la modification ou la suppression -->
                                    <form>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('edit_category',{id : category.id}) }}" title="Edit">
                                                <i title="Edit">
                                                    <i class="fa fa-pencil"></i>
                                                    Edit
                                                </i>
                                            </button>
                                        {% endif %}
                                        <button type="submit" class="btn btn-danger btn-sm" formaction="{{ path('delete_category',{id : category.id}) }}" title="Supprimer" onclick="return confirm('Do you really want to delete this category ?');">
                                            <i class="fa fa-trash-o "></i>
                                            delete
                                        </button>
                                        <input type="hidden" name="_token" value="{{ csrf_token('action-item' ~ category.id) }}">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-fl justify-content-center">
                    {{ knp_pagination_render(categorys) }}
                </div>
            {% else %}
                there is no categorys yet
            {% endif %}
        </div>
    </div>
{% endblock %}
